@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

$index: calc(1vw + 1vh);
$textColor: #e7e7d3 ;

@mixin addTransition {
    transition: transform .75s cubic-bezier(.075, .5, 0, 1);
    will-change: transform;
}